---
const { heroData } = Astro.props;
---

<section class="bg-base-100 text-base-content py-20">
  <div class="container mx-auto text-center px-4">
    <h1 class="text-5xl font-bold text-primary mb-6">{heroData?.hero.titulo}</h1>
    <p class="text-lg text-base-content mb-8">{heroData?.hero.descricao}</p>

   {heroData?.hero.botao && (
  <a href={heroData.hero.botao.url} class="btn btn-primary mb-8">
    {heroData.hero.botao.texto}
  </a>
)}

    <img 
      src={heroData?.hero.link} 
      alt="Imagem decorativa" 
      class="mx-auto max-w-md rounded-lg shadow-lg saturate-50 contrast-125"
    />
  </div>
</section>
