---
import SectionPadrao from './SectionPadrao.astro';
const { sobre, objetivosGerais, objetivosEspecificos } = Astro.props;
---

<section class="mt-16 space-y-24 px-4 md:px-8 lg:px-16">
  {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    Object.entries(sobre).map(([_key, secao]: [string, any], index) => (
      <SectionPadrao
        titulo={secao.titulo}
        texto={secao.texto}
        imagem={secao.imagem}
        departamentos={secao.departamentos}
        reverse={secao.reverse ?? index % 2 === 1}
      />
    ))
  }

  <SectionPadrao
    titulo={objetivosGerais.titulo}
    texto={objetivosGerais.texto}
    imagem={objetivosGerais.imagem}
    reverse={objetivosGerais.reverse ?? false}
  />

  <SectionPadrao
    titulo={objetivosEspecificos.titulo}
    texto={objetivosEspecificos.texto}
    imagem={objetivosEspecificos.imagem}
    reverse={objetivosEspecificos.reverse ?? false}
  />
</section>
