---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import AtividadesSection from "../../components/AtividadesSection.astro";
import ProdutosSection from "../../components/ProdutosSection.astro";
import FAQSection from "../../components/FAQSection.astro";
import Initiatives from "../../components/Initiatives.astro";

export function getStaticPaths() {
  return [
    { params: { lang: "pt" } },
    { params: { lang: "en" } },
    { params: { lang: "es" } },
  ];
}

const currentLang = Astro.params.lang ?? "pt";

const allowedLangs = ["pt", "en", "es"];
if (!allowedLangs.includes(currentLang)) {
  return Astro.redirect("/pt/");
}

const locale = await import(`../../i18n/locales/${currentLang}.json`);

const {
  hero,
  titulo,
  descricao,
  initiatives,
  atividadesPesquisa,
  atividadesExtensao,
  produtos,
  faqs,
  imagens,
} = locale.default;
---

<BaseLayout lang={currentLang} titulo={titulo} descricao={descricao}>
  <Hero heroData={locale.default} />
  <!-- <Initiatives initiatives={locale.default.initiatives} />

  <section class="mt-16">
    <h2 class="text-center text-3xl font-extrabold mb-4">
      {atividadesPesquisa.title}
    </h2>
    <p class="text-center text-xl text-base-content mb-10 max-w-2xl mx-auto">
      {atividadesPesquisa.descricao}
    </p>
  </section> -->

  <!-- <AtividadesSection
    title={atividadesPesquisa.title}
    description={atividadesPesquisa.description}
    image={hero.link}
    activities={atividadesPesquisa.items}
  />
  <AtividadesSection
    title={atividadesPesquisa.title}
    description={atividadesPesquisa.description}
    image={hero.link}
    activities={atividadesPesquisa.items}
    reverse={true}
  />

  <ProdutosSection
    title={produtos.title}
    description={produtos.description}
    image={hero.link}
    produtos={produtos.items}
  />
  <FAQSection faqs={locale.default.faqs.items} /> -->
</BaseLayout>
