---
const {
  children,
  lang = "pt",
  titulo = "CPPS",
  descricao = "",
  texts = {},
  identidade = {},
} = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AlternarTema from "../components/AlterarTema.astro";
import SearchModal from "../components/SearchModal.astro";
import BackToTop from "../components/BackToTop.astro";

import "../styles/global.css";
---

<html lang={lang} data-theme="cpps">
  <head>
    <meta charset="utf-8" />
    <title>{titulo} | CPPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ✅ SEO -->
    <meta name="description" content={descricao} />
    <meta property="og:title" content={`${titulo} | CPPS`} />
    <meta property="og:description" content={descricao} />
    <meta property="og:locale" content={lang} />

    <!-- ✅ SEO multilíngue -->
    {
      ["pt", "en", "es"].map((l) => (
        <link
          rel="alternate"
          hreflang={l}
          href={`https://cpps.franca.unesp.br/${l}/`}
        />
      ))
    }

    <!-- ✅ canonical -->
    <link rel="canonical" href={`https://cpps.franca.unesp.br/${lang}/`} />

    <!-- ✅ Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
    <script type="module" src="/src/scripts/themeSwitcher.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const savedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", savedTheme);
      });
    </script>

    
  </head>

  <body class="bg-base-100 text-base-content">
    <Header lang={lang} texts={texts} identidade={identidade}>
      <AlternarTema />
    </Header>

    <main class="pt-8 flex-1" data-pagefind-body>
      <slot />
    </main>    <Footer lang={lang} texts={texts} />
    <SearchModal />
    <BackToTop lang={lang} />
  </body>
</html>
